# Dependencies
node_modules/

# Build
dist/
.next/
out/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Logs
*.log
logs/

# Coverage
coverage/

# Prisma
prisma/*.db

# PM2
.pm2/

# Misc
*.tsbuildinfo
